@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:target{
    scroll-margin-top: 70px;
}

*{
    margin: 0;
    padding: 0;
    font-family:"Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: url(pexels-patrik-felker-6220559.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
}
.find_friends_container{
    height: 70vh;
    margin-top: 20vh;
    margin-bottom: 20vh;
    width: 400px;;
    background:transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    text-align: center;
}

.find_friends_header{
    color: #f1f1f1;
    font-size: 18px;
    font-weight: bolder;
    width:100%;
    text-align: center;
    padding: 10px 0;
}

.find_friends_body{
    border: 2px solid rgba(255, 255, 255, .2);
}

.find_friends_container .find_friends_header .heading {
    font-size: 36px;
    text-align: center;
}

.find_friends_header .search {
    position: relative;
    padding: 25px 0;
}

.find_friends_header .search i{
    position: absolute;
    width:20px;
    top: 45px;
    left: 40px;
}

.find_friends_header .search input{
    background: transparent;
    border: none;
    outline: none;
    margin:0 25px 25px 25px;
    width: calc(100% - 150px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 16px;
    color: #f1f1f1;
    padding: 15px 50px;
}

.find_friends_container .find_friends_header .search input::placeholder{
    color:rgba(255, 255, 255, 0.5);
}

.user_row{
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_info{
    display: flex;
    align-items: center;
}

.user_info img{
    width: 70px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid whitesmoke;
}

.user_info span{
    font-weight: bold;
}

.action-follow{
    border: 2px solid whitesmoke;
    outline: none;
    background: transparent;
    border-radius: 20px;
    color:#f1f1f1;
    height: 40px;
    width: 80px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    
}

.action-follow:hover{
    background:whitesmoke;
    color:#000000;
    font-weight: bolder;
    cursor: pointer;
}