@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:target{
    scroll-margin-top: 70px;
}
*{
    margin: 0;
    padding: 0;
    font-family:"Poppins", sans-serif;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    overflow-x: hidden;
    background-color: #000;
}

img{
    width: 100%;
}

nav{
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    margin: auto; 
    padding: 10px 0;
    z-index: 12;
}
nav .menu{
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.menu .logo a{
    text-decoration: none;
    color:#fff;
    font-size: 35px;
    font-weight: 600;
}
.menu ul{
    display: inline-flex;
    align-items: center;
}

.menu ul li{
    list-style: none;
    margin-left: 7px;
}

.menu ul li:first-child{
    margin-left: 0px;
}
.menu ul li:nth-child(2):active{
    transform: scale(2);
}
.menu ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}
.menu ul li a:hover{
    font-weight: 530;
    background:whitesmoke;
    color:#000000;
}

.menu img {
   
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.menu ul li a.backgroundcolor {
    display: flex;
    align-items: center;
}

.menu ul li a.backgroundcolor img {
    margin-right: 10px;
}

.backgroundcolor{
    border: 2px solid rgba(255, 255, 255, .2);
}

.center{
    position: absolute;
    margin-top: calc(50vh - 90px);
    width: 100%;
    text-align: center;
    height: 50vh;
}
.center .title{
    color: #fff;
    font-size:25px;
    font-weight:600;
}

.center ul li{
    list-style: none;
}
.center ul{
    margin-top: 25px;
    display: inline-flex;
}
.center ul li a{
    margin-inline: 15px;
    text-decoration: none;
    color:#fff; opacity: 0.6;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 30px;
    border-radius: 25px;
    transition: all 0.3s ease-in-out; 
}
.center ul li a:hover{
    font-weight: 500;
    background:whitesmoke;
    color:#000000;
}

.image_top{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100vw;

}
.image_top img{
    width: 100%;
    vertical-align: bottom;

}

#howitworks{
    position: absolute;
    top:100vh;

}
.divide{
    width:100%;
    align-items: center;
    display: flex;
    justify-content: center;
    height: calc(100vh - 70px);
    

}
.image_reserve{
    width: 50%;
    

}
.TextHowItWorks{
    width:50%;
    margin-left: 4vh;
    margin-right: 4vh;
    align-items: center;
}
.TextHowItWorks h3{
    font-weight: bold;
    color:#fff;
    margin-top: 5vh;
    text-align: center;
}
.TextHowItWorks p{
    color:#fff;
    margin-top: 3vh;
    text-align: justify;
    align-items: center;
}


@media (max-width: 650px){

    
    .menu .logo a{
        font-size: 5dvw;
    }
    
    .menu ul li{
        margin-left: 1vw;
    }
    
    .menu ul li:first-child{
        margin-left: 2vw;
    }
    
    .menu ul li a{
        font-size: 3dvw;
        padding: 1dvw 1dvw;
        border-radius: 5dvw;
    }
    .center{
        margin-top: calc(50vh - 90px);
        width: 100%;
        height: 50vh;
    }
    .center .title{
        font-size:90%;
    }
    .center ul{
        margin-top: 25px;
    }
    .center ul li a{
        margin-inline: 15px;
        font-size: 14px;
        padding: 8px 30px;
        border-radius: 25px;
    }
    .image_top{
        position: absolute;
        bottom:0;
        left: 0;
        width: 100%;
    
    }
    .image_top img{
        width: 100%;
        vertical-align: bottom;
    
    }
    
    #howitworks{
        position: absolute;
        top:100vh;
    
    }
    .divide{
        width:100%;
        align-items: center;
        justify-content: center;
        display:list-item;
        
    
    }
    .image_reserve{
        width: 100%;
        
    
    }
    .TextHowItWorks{
        width:90%;
        margin-left: 4vh;
        margin-right: 4vh;
        align-items: center;
    }
    .TextHowItWorks h3{
        
        margin-top: 5vh;
    }
    .TextHowItWorks p{
        margin-top: 3vh;
        text-align: justify;
        align-items: center;
    }
    
}

