@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


body{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family:"Poppins", sans-serif;
    background-color: #fff;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;

}

.menu ul li a.backgroundcolor {
    display: flex;
    align-items: center;
}

.menu ul li a.backgroundcolor img {
    margin-right: 10px;
}

.menu img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.header_wrapper header {
    width: 100%;
    min-height: 200px;
}

.header_wrapper .cols_container .left_col {
    padding: 25px 20px;
    text-align: center;
    max-width: 350px;
    position: relative;
    margin: 0 auto;
}

.header_wrapper .cols_container .left_col .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_wrapper .cols_container .left_col .buttons button {
    margin-bottom: 5px;
}


.header_wrapper .cols_container .left_col .image-container {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.header_wrapper .cols_container .left_col .image-container img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0,0,0,0.18);
}

.header_wrapper .cols_container .left_col .img_container span {
    position: absolute;
    background: #2afa6a;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    bottom: 3px;
    right: 11px;
    border: 2px solid #fff;
}

.header_wrapper .cols_container .left_col button{
    background: #1d1d1d;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
}

.header_wrapper .cols_container .left_col button:hover{
    opacity: 0.8;
 }
.header_wrapper .cols_container .left_col h2 {
    margin-top: 60px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;
}

.header_wrapper .cols_container .left_col p{
    font-size: 0.9rem;
    color: #818181;
    margin: 0;
}

.header_wrapper .cols_container .left_col .about{
    justify-content: space-between;
    position: relative;
    margin: 35px 0;
}

.header_wrapper .cols_container .left_col .about li{
    display: flex;
    flex-direction: column;
    color: #818181;
    font-size: 0.9rem;
}

.header_wrapper .cols_container .left_col .about li span{
    color: #1d1d1d;
    font-weight: 600;
}

.header_wrapper .cols_container .left_col .about::after{
    position: absolute;
    content: "";
    bottom: -16px;
    display: block;
    background: #ccc;
    height: 1px;
    width: 100%;
}

.header_wrapper .cols_container .content p {
    font-size: 1rem;
    color: #1d1d1d;
    line-height: 1.8em;
}

.header_wrapper .cols_container .content ul {
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.header_wrapper .cols_container .right_col {
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
}

.header_wrapper .cols_container .right_col .right-column-nav {
    display: flex;
    align-items:flex-end;
    padding: 30px 0;
    justify-content: flex-end;
    flex-direction: column;
}

.header_wrapper .cols_container .right_col .right-column-nav ul li a{
    text-transform: uppercase;
    color:#818181;
}

.header_wrapper .cols_container .right_col .right-column-nav button{
    background: #1d1d1d;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 20px;
}

h2{
    color: #000000;
}

.header_wrapper .cols_container .right_col .right-column-nav ul li:nth-child(1) a{
    color: #1d1d1d;
    font-weight: 600;
}

.header_wrapper .cols_container .right_col .right-column-nav button:hover{
   opacity: 0.8;
}

.header_wrapper .cols_container .right_col .Home{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.header_wrapper .cols_container .right_col .Home img{
    /* max-width: 100%; */
    display: block;
    height: 200px; /* Set a fixed height value */
    width: 200px;
    object-fit: cover;
    
}

@media (min-width: 868px){
    .header_wrapper .cols_container{
        max-width: 1200px;
        margin: 0 auto;
        width: 90%;
        justify-content: space-between;   
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 50px;
    }

    .header_wrapper .cols_container .left_col {
        padding: 25px 0;
    }

    .header_wrapper .cols_container .right_col .right-column-nav ul{
        flex-direction: row;
        gap: 30px;
    }

    .header_wrapper .cols_container .right_col .Home{
        height: 365px;
        overflow: auto;
        padding: 0 0 30px;
    }
}

@media (min-width: 1017px){
    
    .header_wrapper .cols_container .left_col {
        margin: 0;
        margin-right: auto;
    }

    .header_wrapper .cols_container .right_col .right-column-nav{
        flex-direction: row;
    }

    .header_wrapper .cols_container .right_col .right-column-nav button{
        margin-top: 0;
    }
   
}

:target{
    scroll-margin-top: 70px;
}

*{
    margin: 0;
    padding: 0;
    font-family:"Poppins", sans-serif;
    scroll-behavior: smooth;
}

img{
    width:100%;
}

.header nav{
    position: fixed;
    background-color: #000000;
    width: 100%;
    margin: auto; 
    padding: 10px 0;
    z-index: 12;
}
.header nav .menu{
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.menu .logo a{
    text-decoration: none;
    color:#fff;
    font-size: 35px;
    font-weight: 600;
}
.menu ul{
    display: inline-flex;
}

.menu ul li{
    list-style: none;
    margin-left: 7px;
}

.menu ul li:first-child{
    margin-left: 0px;
}
.menu ul li:nth-child(2):active{
    transform: scale(2);
}
.menu ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}
.menu ul li a:hover{
    font-weight: 530;
    background:whitesmoke;
    color:#000000;
}


.backgroundcolor{
    border: 2px solid rgba(255, 255, 255, .2);
}

.center{
    position: absolute;
    margin-top: calc(50vh - 90px);
    width: 100%;
    text-align: center;
    height: 50vh;
}
.center .title{
    color: #fff;
    font-size:25px;
    font-weight:600;
}

.center ul li{
    list-style: none;
}
.center ul{
    margin-top: 25px;
    display: inline-flex;
}
.center ul li a{
    margin-inline: 15px;
    text-decoration: none;
    color:#fff; opacity: 0.6;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 30px;
    border-radius: 25px;
    transition: all 0.3s ease-in-out; 
}
.center ul li a:hover{
    font-weight: 500;
    background:whitesmoke;
    color:#000000;
}

.image_top{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100vw;

}
.image_top img{
    width: 100%;
    vertical-align: bottom;

}

#howitworks{
    position: absolute;
    top:100vh;

}
.divide{
    width:100%;
    align-items: center;
    display: flex;
    justify-content: center;
    height: calc(100vh - 70px);
    

}
.image_reserve{
    width: 50%;
    

}
.TextHowItWorks{
    width:50%;
    margin-left: 4vh;
    margin-right: 4vh;
    align-items: center;
}
.TextHowItWorks h3{
    font-weight: bold;
    color:#fff;
    margin-top: 5vh;
    text-align: center;
}
.TextHowItWorks p{
    color:#fff;
    margin-top: 3vh;
    text-align: justify;
    align-items: center;
}

/*
@media (max-width: 650px){

    
    .menu .logo a{
        font-size: 5dvw;
    }
    
    .menu ul li{
        margin-left: 1vw;
    }
    
    .menu ul li:first-child{
        margin-left: 2vw;
    }
    
    .menu ul li a{
        font-size: 3dvw;
        padding: 1dvw 1dvw;
        border-radius: 5dvw;
    }
    .center{
        margin-top: calc(50vh - 90px);
        width: 100%;
        height: 50vh;
    }
    .center .title{
        font-size:90%;
    }
    .center ul{
        margin-top: 25px;
    }
    .center ul li a{
        margin-inline: 15px;
        font-size: 14px;
        padding: 8px 30px;
        border-radius: 25px;
    }
    .image_top{
        position: absolute;
        bottom:0;
        left: 0;
        width: 100%;
    
    }
    .image_top img{
        width: 100%;
        vertical-align: bottom;
    
    }
    
    #howitworks{
        position: absolute;
        top:100vh;
    
    }
    .divide{
        width:100%;
        align-items: center;
        justify-content: center;
        display:list-item;
        
    
    }
    .image_reserve{
        width: 100%;
        
    
    }
    .TextHowItWorks{
        width:90%;
        margin-left: 4vh;
        margin-right: 4vh;
        align-items: center;
    }
    .TextHowItWorks h3{
        
        margin-top: 5vh;
    }
    .TextHowItWorks p{
        margin-top: 3vh;
        text-align: justify;
        align-items: center;
    }
    
}*/
